include header
	h1= title
	if(newTodo)
		h2= newTodo
	#todos
		if(todos)
			- each todo in todos
				div(class= todo.completed ? 'completed' : "todo")
					//div.user= todo.username
					div.todo-body!= todo.content
					a.delete-todo(href="#" data-id=todo._id.toHexString()) delete it
					//div.created_at= todo.created_at
		else
			h2 Whoops, something went wrong