@navBGColorTop: #d2ff52;
@navBGColorBottom: #91e842;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background: url('../img/congruent_outline.png') repeat;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
}

a {
	color: #2a2a2a;
}

.navigation {
	background: @navBGColorTop;
	background: -moz-linear-gradient(top, @navBGColorTop 0%, @navBGColorBottom 57%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@navBGColorTop), color-stop(57%,@navBGColorBottom));
	background: -webkit-linear-gradient(top, @navBGColorTop 0%,@navBGColorBottom 57%);
	background: -o-linear-gradient(top, @navBGColorTop 0%,@navBGColorBottom 57%);
	background: -ms-linear-gradient(top, @navBGColorTop 0%,@navBGColorBottom 57%);
	background: linear-gradient(to bottom, @navBGColorTop 0%,@navBGColorBottom 57%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@navBGColorTop', endColorstr='@navBGColorBottom',GradientType=0 );
	position: fixed;
	width: 100%;
	padding: 15px 0;
	
	ul {
		display: inline;
		float: right;
		margin-right: 15px;

		li {
			background-color: #fff;
			border-radius: 1px;
			box-shadow: -1px 2px 10px #2a2a2a;
			display: inline;
			margin-left: 4px;
			padding: 10px 15px;
			
			a {
				padding: 10px 15px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

		}
	}
}


.container {
	background: #fff;
	height: 100%;
	margin: 0 50px 0px 50px;
	padding: 100px 20px 20px 20px;
}